body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}


h1 {
    text-align: center;
}


#dashboard {

    max-width: 800px;
    margin: auto;

}


.card {

    background: white;
    padding: 20px;
    margin: 15px 0;

    border-radius: 10px;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}


.operational {
    color: green;
}


.warning {
    color: orange;
}


.down {
    color: red;
}